@media only screen and (max-width: 500px) {

  .nav-container{
    width: 100%;
  }

  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 60px;
    padding: 0 15px;
  }

  .lhv-logo{
    width: 84px;
    height: 28px;
  }

  .nav-button{
    background: #3b3b47;
    color: white;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 18px;
    font-family: 'Neue Helvetica W06','Helvetica Neue',sans-serif;
    border-radius: 5px;
  }

  .footer-container{
    width: 100%;
    display: block;
    background-color: $lhv-footer-background-color;
    padding: 40px 0 20px 0;
  }

  .content{
    display: block;
  }

  .card-header{
    padding: 0 !important;
    border: none;
    position: relative;
  }

  .btn-link{
    color: black;
    font-family: "Helvetica Neue";

  }

  .btn-link:hover, .btn-link:visited, .btn-link:link, .btn-link:active
  {
    text-decoration: none;
    color: black;
  }

  .footer__body--link{
    font-size: 14px;
    color: black;
  }

  .footer__body--link a{
    color: black;
  }


  .accordion-header{

    font-size: 13px;
    font-weight: 600;
  }

  .card{
    border: none !important;
  }

  .card-body{
    background-color: #f8f8f8;
  }

  .accordion__icon{
    position: absolute;
    top: 15%;
    right: 5%;
  }

  .socialmedia__icons{
    font-size: 25px;
    color: black;
    margin-right: 10px;
  }

  .footer__disclaimer{
    margin: 10px;
    font-size: 12px;
    color: gray;
  }

  .socialmedia__icons__container{
    margin: 15px 0 25px 0;
    padding-left: 10px;
  }

  .carousel__comp{
    height: 580px;
    padding-bottom: 150px;
  }

  .--carousel__img{
    overflow: hidden;
  }

  .carousel__caption{
    top: 35%;
  }

  .caption__title{
    font-size: 45px;
    word-wrap: break-word;
  }

  .--color__black{
    color: black;
  }

  .--position__low{
    top: 50%;
  }

  .caption__li{
    float: left;
    font-size: 16px;
    text-align: left;
  }

  .caption__redir{
    margin-top: 10px;
    float: left;
    font-size: 16px;
    font-weight: bold;
    color: black;
  }

}